@import "bootstrap-sprockets";
@import "bootstrap";

$white-color : #fff;

body{
	padding-top: 20px;
}

h1, h2{
	text-align: center;
}

.jumbotron h1{
	font-size: 75px;
	font-weight: bold;
}

h2{
	margin-bottom: 35px;
	font-size: 23px;
}

.welcome-text{
	padding: 25px 30px;
}

.main-content p{
	font-size: 18px;
}

.main-content a{
	color: #337ab7;
}

.main-content a.rails-link:hover{
	background: transparent;
	color: #337ab7;
}

/* Header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: $white-color;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 15px;
	font-weight: bold;
	&:hover {
		background: transparent;
		color: $white-color;
		text-decoration: none;
	}
}

/* Footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
	a {
		color: #555;
		background: transparent;
		&:hover{
			color: #222;
			background: transparent;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

@mixin box_sizing {
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* sidebar */

aside {
	section.user_info {
		margin-top: 20px;
	}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

.gravatar_edit {
	margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control:focus {   
		border-color: #F60300;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(239, 185, 104, 0.6) 1px;
		outline: 0 none;
	}

	.form-control {
		color: #f60500;
		border-color: #f60500;
	}
}